/* Estilos para el contenedor del login */
.login-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Estilos para la página de login */
.login-page {
  background-color: #f4f4f4;
  padding: 16px;
}

/* Estilos para el contenedor del logo */
.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos para la tarjeta de login */
.login-card {
  margin: 0 auto;
  max-width: 400px;
  border-radius: 12px;
}

/* Estilos para los inputs */
.login-input {
  margin-bottom: 16px;
}

/* Estilos para las etiquetas de los inputs */
.input-label {
  font-size: 14px;
}

/* Estilos para el campo de entrada */
.input-field {
  font-size: 16px;
}

/* Estilos para los mensajes de error */
.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

/* Estilos para el botón de login */
.login-button {
  background-color: #3880ff; /* Color de fondo */
  color: #fff; /* Color del texto */
  font-size: 16px; /* Tamaño de fuente */
  border-radius: 8px; /* Bordes redondeados */
  padding: 12px; /* Espaciado interno */
}

/* Estilos para el botón de registro */
.register-button {
  background-color: #3dc2ff; /* Color de fondo */
  color: #fff; /* Color del texto */
  font-size: 16px; /* Tamaño de fuente */
  border-radius: 8px; /* Bordes redondeados */
  padding: 12px; /* Espaciado interno */
}

/* Estilos para el botón de confirmación en el modal */
.modal-confirm-button {
  background-color: #28a745; /* Color de fondo */
  color: #fff; /* Color del texto */
  font-size: 16px; /* Tamaño de fuente */
  border-radius: 8px; /* Bordes redondeados */
  padding: 12px; /* Espaciado interno */
}

/* Estilos para el botón de "Volver" */
.back-button {
  margin-top: 16px; /* Espacio superior */
}

/* Estilos adicionales para el hover y estado activo de los botones */
.login-button:hover, .register-button:hover, .modal-confirm-button:hover {
  background-color: #0069d9; /* Color de fondo en hover */
}

.login-button:active, .register-button:active, .modal-confirm-button:active {
  background-color: #0056b3; /* Color de fondo en estado activo */
}
