/* Estilo para la página principal, excluyendo el menú */
#main-content ion-content {
    --background: url('/assets/icon/corazon.jpg') no-repeat center center / cover;
  }
  
  .page-content {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
    border-radius: 15px; /* Bordes redondeados */
    padding: 15px;
    margin: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  }
  
  table {
    width: 100%;
    border-radius: 10px; /* Bordes redondeados en la tabla */
    overflow: hidden;
  }
  
  .mat-header-cell, .mat-cell {
    padding: 8px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con ligera transparencia */
  }
  
  .mat-elevation-z8 {
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
    border-radius: 10px;
  }
  
  ion-menu::part(backdrop) {
    background-color: rgba(255, 0, 255, 0.5);
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
    box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
  }
  
  ion-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: var(--ion-color-tertiary);
  }
  
  ion-footer ion-item {
    --ion-background-color: transparent;
    --background: transparent;
    color: var(--ion-color-light);
  }
  